:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #f25353;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff6464;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff6464;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
}

nav a {
  padding: 10px 16px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.login {
  padding: 20px;
  width: 100%;
  margin-inline: auto;
  max-width: 400px;
  border-radius: 16px;
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.2);
}

.login form {
  display: grid;
  gap: 30px;
}

.login label {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 320px;
  margin-inline: auto;
  border-bottom: 1px solid #555;
  padding: 0px 20px;
}

.login label p {
  position: absolute;
  font-size: 16px;
  color: #555;
  left: 20px;
  top: 0%;
  translate: 0% -50%;
  transition: all 300ms;
  padding: 5px 12px;
  pointer-events: none;
}

.login label input:focus {
  outline: none;
}

.login label input {
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 5px 12px;
}

.login label input:focus + p,
.login label input:valid + p {
  top: -20px;
  left: 10px;
  font-size: 10px;
}

.dashboard {
  width: 100%;
  text-align: left;
}

.dashboard h1 {
  padding-block: 60px;
  padding-inline: 40px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 60px;
  border-bottom: 1px solid rgb(211, 211, 211);
  color: white;
  background: rgb(128, 0, 0);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.295);
  border-radius: 8px;
}

p {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 500;
  color: #333;
  text-transform: capitalize;
  padding-inline: 40px;
}

.container {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.295);
}

button {
  color: white;
  font-size: 32px;
  margin-inline: 40px;
  background-color: #f25353;
  transition: background-color 300ms ease-out;
}

button:hover {
  background-color: rgb(128, 0, 0);
}

#profile-picture::-webkit-file-upload-button {
  display: none;
}

.profile_picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-left: 40px;
}
